/*
*,
*::before,
*::after{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
*/
body{
    font-family: 'Public Sans';
    background-color: #D9DDDC;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: large;
}

h1{
    font-size: 80px;
    color:#333;
}

/* Main Element */

main{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 150px;
    max-width: 1100px;
    margin: 0 auto;
}

/* Settings */

#settings{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

#grid{
    display: grid;
    width: 500px;
    height: 500px;
    background-color: var(--secondary-light);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.grid-element{
    user-select: none;
}

button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px,rgba(45, 35, 66, 0.3) 0 7px 13px -3px,#D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

input[type='color']{
    transition: transform 0.1s ease-in-out;
}

input[type='color']:hover{
    transform: scale(1.05);
}

input[type='color']:active{
    transition: transform 0.05s ease-in-out;
    transform: scale(1);
}

input[type='color']{
    -webkit-appearance: none;
    border: none;
    height: 80px;
    width: 80px;
}

input[type='color']::-webkit-color-swatch-wrapper{
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }





#inputValue{
    margin-bottom: -10px;
    font-size: 20px;
}

input[type=range]{
    -webkit-appearance: none;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #333;
    border-radius: 3px;
}

input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: goldenrod;
    margin-top: -6px;
}


